.homePage {
    background-color: rgba(255, 243, 245, 0.8);
}

.homePage__flexContainer{
    display: flex;
    justify-content: space-between;
}

.homePage__flexContainer > .mainColumn {
    flex-direction: column;
}

.homePage__flexContainer > .postsColumn {
    display: flex;
    flex: 1;
}

@media only screen and (min-width: 768px) {

    .homePage__flexContainer > .postsColumn {
        margin: 0 2rem;
    }

    .homePage__flexContainer > .leftSidebar {
        flex-basis: 20%;
    }
    
    .homePage__flexContainer > .rightSidebar {
        flex-basis: 20%;
    }
}

.mainColumn > .Homepage__ProfileSidebar, .box1, .box2 {
    background-color: white;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 7px 2px #00000033;
}

@media only screen and (min-width: 768px) {
    .mainColumn > .Homepage__ProfileSidebar, .box1, .box2, {
        background-color: white;
        box-shadow: 2px 2px 7px 2px #00000033;
        /* border: 1px solid var(--FontColorLight); */
        border-radius: 5px;
    }
}

.leftSidebar > .box1 {
    height: 15rem;
}

.leftSidebar > .box2 {
    height: 20rem;
}

.rightSidebar > .box1 {
    height: 10rem;
}

.rightSidebar > .box2 {
    height: 15rem;
}